<form class="form-horizontal" autocomplete="off" #createProductForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'Product' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="row p-2">
      <div class="col-sm-6 ">
        <div class="form-group mr-2 row required">
          <label class="form-label" for="name">
            {{ "ProductName" | localize }}
          </label>
          <input 
          type="text" 
          class="form-control"
           name="productName"
            id="productName"
             maxlength="128"
              required
            [(ngModel)]="product.productName"
             #nameModel="ngModel" 
             #nameEl />
             
          <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group mr-2 row required">
          <label class="form-label" for="name">
            {{ "Category" | localize }}
          </label>
          <br>
         
          <div class="p-fluid w-100">
            <p-dropdown 
            [options]="categoryOptions"
            [(ngModel)]="product.categoryId"  
            #categoryName="ngModel"
            optionLabel="categoryName"  
            optionValue="id"          
            [filter]="true"  
            class="w-100" 
                   
            filterBy="categoryName" 
            [showClear]="true"
            [ngModelOptions]="{standalone: true}"
            placeholder="Select a Category"
            (ngModelChange)="onCategorySelect($event)">
            </p-dropdown>
          </div>
          

        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group mr-2 row required">
          <label class="form-label" for="name">
            {{ "Price" | localize }}
          </label>
          <input type="number" class="form-control" name="productPrice" id="productPrice" maxlength="128" required
            [(ngModel)]="product.productPrice" #nameModel="ngModel" #nameEl />
          <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group mr-2 row required">
          <label class="form-label" for="name">
            {{ "Description" | localize }}
          </label>
            <textarea rows="5" cols="30" class="w-100" name="description" id="description" pInputTextarea [(ngModel)]="product.description" #nameModel="ngModel" #nameEl></textarea>
          <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group mr-2 row required">
          <label class="form-label" for="name">
            {{ "ProductDetail" | localize }}
          </label>
            <textarea rows="5" cols="30" class="w-100" name="fullDescription" id="fullDescription" pInputTextarea [(ngModel)]="product.fullDescription" #nameModel="ngModel" #nameEl></textarea>
          <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group mr-2 row required"> 
         <label class="form-label" for="name">
            {{ "Image" | localize }}
          </label>
          <input type="file" class="form-control" name="name" id="name" required #nameEl /> 
        
          <!-- [(ngModel)]="product.image"
              #nameModel="ngModel"   -->
          <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
         </div> 
      </div>
      <div class="col-sm-6">
        <div class="form-group mr-2 mt-4t row required">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="isFeatured" id="isFeatured"
              [(ngModel)]="product.isFeatured" (change)="updateIsFeatured($event)" />
            <label class="custom-control-label mt-2" for="isFeatured">Featured</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group mr-2 mt-4tra row required">
          <div class="p-field-radiobutton">
            <p-radioButton name="Winter" value="1" [(ngModel)]="weaterCloth" id="Winter"></p-radioButton>
            <label class="pl-2 mb-0" for="city1">Winter</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group mr-2 mt-4tra row required">
          <div class="p-field-radiobutton">
            <p-radioButton name="Spring" value="2" [(ngModel)]="weaterCloth" id="Spring"></p-radioButton>
            <label class="pl-2 mb-0" for="Spring">Spring</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createProductForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>