

<section class="content-header">
    <div class="container-fluid">
      <div class="card-body bg-white">
        <h3 class="fww">Edit Book</h3>
        <form (ngSubmit)="updateBook()">
         <div class="row">
            
          <div class="col-md-6">
             {{book|json}} 
              <label class="col-form-label">
                Book Name
              </label>
              <br>
              <input type="text"  class="form-control"   [(ngModel)]="book.bookName" name="book.bookName"   />
           
          </div>
          <div class="col-md-6" >
            
              <label class="col-form-label">
                Author Name
              </label>
              <br>
                 <input type="text" class="form-control" [(ngModel)]="book.authorName" name="book.authorName"   />
            
          </div>
          
          <div class="col-md-6" style="margin-top: 12px;">           
              <label class="col-form-label">
                Publish Year
              </label>
              <br>
              <input type="text" class="form-control" [(ngModel)]="book.publishYear" name="book.publishYear"  />            
          </div>       
          <div class="col-md-6" style="margin-top: 12px;">
            <div class="input-group">
                <button class="btn btn-success">Save</button>
              </div>
          </div>
        
         </div>
       </form>
      </div>
    </div>
  </section>
  

