<form
  class="form-horizontal"
  autocomplete="off"
  #createTenantForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Product' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          maxlength="128"
          required
          [(ngModel)]="category.categoryName"
           #nameModel="ngModel"
          #nameEl
        />
        <div class="col-sm-6">
          <div class="form-group mr-2 row required">
              <label class="form-label" for="image">
                  {{ "Image" | localize }}
              </label>
              
              <!-- Hidden file input -->
              <input type="file" class="form-control" name="image" id="image" (change)="onFileSelected($event)" hidden #fileInput />
      
              <!-- Preview and custom upload button -->
              <div class="image-preview" (click)="fileInput.click()">
                  <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" class="img-thumbnail"/>
                  <button *ngIf="!imagePreview" type="button" class="btn btn-primary">Upload Image</button>
              </div>
      
              <abp-validation-summary [control]="fileInput" [controlEl]="fileInput"></abp-validation-summary>
          </div>
      </div>
      
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>  
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createTenantForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>

