

<section class="content-header">
    <div class="container-fluid">
      <div class="card-body bg-white">
        <h5 class="fww">Add Course</h5>
        <form #courseForm="ngForm" (ngSubmit)="SubmitFormData(courseForm.value)">
         <div class="row">
         
          <div class="col-md-6">           
              <label class="col-form-label">
               Course Name
              </label>
              <br>
              <input type="text" class="form-control" ngModel  name="courseName"  />          
          </div>
          <div class="col-md-6" >
              <label class="col-form-label">
               Course Code
              </label>
              <br>
                 <input type="text" class="form-control" ngModel  name="courseCode"  />  
          </div>
          <div class="col-md-6" style="margin-top: 12px;">
              <label class="col-form-label">
              Course Description
              </label>
              <br>
              <input type="text" class="form-control" ngModel name="courseDescription" />  
          </div>
          <br>

          <div class="col-md-6 mt-5" style="margin-top: 12px;">
            <div class="input-group mts">
                <!-- <a href="javascript:;" routerLink="/app/students" class="btn btn-success" >Submit</a> -->
                <button class="btn btn-success">Save</button>
              </div>
          </div>
        
         </div>
       </form>
      </div>
    </div>
  </section>
  
